.contact-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  padding: 1rem 2rem;
  color:rgb(71, 92, 70);
  
}

.contact-form {
  margin-right: 20px;
}

.form-group {
  width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  padding: 6px;

}

input,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.social-media-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}
.social-media-group{
  display: flex;
  flex-direction: row;
  
  

}
.social-media-icons a {
  margin-left: 10px;
  color: rgb(146, 185, 143);
  font-size: 2rem;
  
  
  
}

.social-media-icons a:hover {
  color: rgb(105, 131, 103);
}