
.headerStyle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  padding: 1rem 2rem;

  a {
    color: rgb(146, 185, 143);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
   
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbarSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  a {
    margin: 0 5px;
    
  
  }

  a:hover {
   border-bottom: 1px solid rgb(146, 185, 143);
   
   
  }
}