body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: rgb(247, 255, 229);
  padding: 1rem 2rem;
  color:rgb(146, 185, 143);
 
}



main {
 color:rgb(146, 185, 143);
  background-color:rgb(253, 255, 238);
  flex-grow: 1;
}

